@import url(../css/config.css);
@import url(../css/main.css);
@import url(../css/index.css);
@import url(../css/orangeshare.css);


.project-image-preview {
    background-image: url(../images/Apresentação\ -\ Vários\ Mobile\ Calin.png);
    background-position: center !important;
    background-size: contain !important;
}

.project-navbar {
    background-color: #15CADB;
}

.project-image-preview {
    background-color: #15CADB;
}

.img-styleguide {
    width: 50% !important;
}

h5 {
    color: black !important;
    font-size: var(--font-size-regular);
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h5 {
    color: white !important ;
}

