@import url(../main.css);
@import url(./config.css);
@import url(./index.css);

p {
    font-size: var(--font-size-regular);
    margin-top: 30px;
}

h2 {
    font-weight: bold;
}



.section-sobremim {
    display: flex;
    width: 60%;
    height: fit-content;
    margin: 100px auto;
}

.foto {
    display: flex;
    width: 30%;
}

.texto {
    margin-left: 50px;
    width: 70%;
    text-align: left;
    height: fit-content;
}

.picture {
    width: 90%;
    height: 30%;
    border-radius:50%;
    background-image: url(../images/yanpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1744px) {

    .section-sobremim {
       justify-content: flex-start;
    }
    
    .foto {
        display: none;
    }
    
    .texto {
        width: 100%;
        margin: 0;
    }
    
}

@media screen and (max-width: 1458px) {

    .section-sobremim {
        width: 80%;
    }
}

@media screen and (max-width: 707px) {

    .section-sobremim {
        width: 90%;
    }
    
}



